<div style="width:600px; margin: auto; color: rgba(0,0,0,1);  font-family: 'Times New Roman',serif; font-size: 16px; line-height: 20px; letter-spacing: 0.2px;">
    <header>
        <img style="margin: 0 auto 50px; display:block; width: 279px; height: 254px;"
             src='{{ absolute_url(asset('assets/images/logo-good-food-light.png')) }}' alt="Logo Good Food"/>
    </header>
    <div>
        {% block content %}{% endblock %}
    </div>
    <footer>
    </footer>
</div>
